include ../../includes/head.jade
include ../../includes/header.jade
include ../../includes/uilang.jade
  //-     | {% if site.header %} {% include header.html %} {% endif %}

.page
  | hello world


code.
  clicking on ".page" toggles class "toggled" on "target"
